#graphsService {
  font-family: 'Muli', sans-serif;
}

.graphsHead {
  padding-bottom : 10px;
  font-size : 25px;
}

.chartDiv {
  position: absolute;
  left : -10px;
  width : 800px;
  height : 450px;
  z-index : 1;
  padding-top : 0px;
  border-top : 1px solid black;
}

.chartContainer {
  position : relative;
  width : 700px;
  height : 300px;
  z-index : 1;
  float : left;
}

.ylabel {
  position : relative;
  z-index : 1;
  float : left;
  font-size : 12px;
  top : -5px;
  left : 15px;
  padding-top : 28px;
}

.xs {
  position: absolute;
  left : 50px;
  z-index : 1;
  float : left;
  padding-left : 25px;
  padding-top : 25px;
  padding-bottom : 25px;
  padding-right : 25px;
  outline : 0.1px solid black;
  outline-offset : -25px;
}

.axes {
  position : relative;
  height : 100%;
  z-index : 1;
}

.xlabel {
  position : relative;
  z-index : 1;
  float : left;
  left : 48px;
  top : 355px;
  font-size : 12px;
}

#attachDescription {
  position : relative;
  top : 430px;
}